<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>{{pageTitle}}</title>
        <link rel="stylesheet" href="https://cdn.dataminr.com/static/icons/fontawesome/4.3.0/css/font-awesome.min.css"/>
    </head>
    <body>
        <script src="{{assetRoot}}public/dist/common.js"></script>
        {{{body}}}
    </body>
</html>
